body{
  background-color: #0C0F0A;
  color: #0C0F0A;
}
.jumbotron{
  background-color: #ffffff;
  text-align: center;
  margin: 5px;
}
.contact-info{
  box-sizing: border-box;
  width: 25%;
  padding: 50px;
  margin: 5px;
  background-color: #FFE45E;
  float:left;
  text-align: center;
  border-radius: 5px;
}
#profile{
  width: 75%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#social-media{
  width: 20%;
}
a:hover{
  background-color:#7FC8F8;
  box-shadow: 10px 10px #FF6392;
}
.current-interests{
  box-sizing: border-box;
  width: 32.5%;
  padding: 50px;
  margin: 5px;
  padding: 50px;
  float: left;
  background-color: #7FC8F8;
  border-radius: 5px;
}
.about-me{
  box-sizing: border-box;
  width: 72.95%;
  padding: 50px;
  margin: 5px;
  padding: 40px;
  display: inline-block;
  background-color: rgb(159,254,59);
  border-radius: 5px;
}
.project-list{
  box-sizing: border-box;
  width: 65.5%;
  padding: 50px;
  margin: 5px;
  display: inline-block;
  background-color:#FF6392;
  border-radius: 5px;
}
.footer{
  margin: auto;
  width: 50%;
  background-color:#ffffff;
  display: block;
  text-align:center;
  border-radius: 5px;
}